
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:inherit;
    justify-content: center;
}

header {
    text-align: center;
    width: 100%;
}

.container{
    margin-top: 1vw;
}

.jumbotron {
    text-align: center;
    background-color:rgb(45, 49, 54);
    color:rgb(255, 255, 255);
    text-shadow: rgb(204, 204, 204);
}

h1{
    font-size: calc(1rem + 3vw);
}

p {
    font-size: calc(.5em + 1vw);
}

.navbar-brand,
#navbarDropdownMenuLink {
    font-size:calc(1rem + 1vw)
}