body,
html {
  min-height:100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inherit;
}

#navbar {
    width: 100%;
  }

.container-fluid{
    margin-top: 2em;
    margin-bottom: 2em;
}

.row{
    padding-bottom:2em;
}
.contact-title {
    background-color:rgb(57, 61, 71);
    color:rgb(255, 255, 255);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius:1em;
}
h1{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: calc(.5rem + 3.5vw);
}
#contact-list{
    background-color:rgb(57, 61, 71);
    color:rgb(255, 255, 255);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius:1em;
}
.list-item-group {
    padding-top:1vw;
    padding-left: 1.5vw;
    padding-bottom:1vw;
    padding-right:1.5vw;
    justify-content: center;
}

.main {
    text-align: center;
    background-color:rgb(45, 49, 54);
    color:rgb(255, 255, 255);
}
.navbar-brand,
#navbarDropdownMenuLink {
    font-size:calc(1rem + 1vw)
}
