body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:inherit;
    justify-content: center;
}
.card {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
#container-sm{
    padding-left:40%;
}
#contact-title{
    padding-top: 5%;
    padding-bottom: 3%;
    align-items: center;
}
#contact-list {
    margin-left: 16%;
    margin-right: 20%;
    border: 3px;
    padding: 10px;
}