.card {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
#container-sm{
    padding-left:40%;
}
#contact-title{
    padding-left: 5rem;
}
#contact-list {
    margin-left: 20%;
    margin-right: 20%;
    border: 3px;
    padding: 10px;
}