body,
html {
  min-height:100%;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:inherit;
  justify-content: center;
  background-image: url(../Images/coding-laptop-min.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
}

#navbar {
  min-width: 100%;
}

#name_title {
  padding-top: 10%;
  font-size: calc(1em + 1.5vw);
  padding-bottom: 10%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#user_directions {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(1rem + 1.5vw)
}

.navbar-brand,
#navbarDropdownMenuLink {
    font-size:calc(1rem + 1.5vw)
}