body {
    font-size: 18px;
  line-height: 27px;
}

.jumbotron {
    text-align: center;
}


@media screen and (max-width: 576px) { 
    h1 {
        font-size: 2em;
    }
    .lead {
        font-size: 90%;
    }
 }