body {
  background-image: url(/Portfolio/Images/coding-laptop-min.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
}

#name_title {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 10%;
  font-size: 40px;
  padding-bottom: 10%;
}

#user_directions {
padding-left: 15%;
}