main {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    /* line-height: 1.4; */
    text-align: center;
    padding: 5%;
    color: rgb(65, 67, 75);
}

#navbar {
    min-width: 100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: inherit;
}

#projects-jumbotron{
    background-color:rgb(57, 61, 71);
    color:rgb(255, 255, 255);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius:1em;
}

.col-4 {
    background-color:rgb(57, 61, 71);
    color:rgb(255, 255, 255);
    font-size: calc(.5em + .5vw);
    padding: .5vw;
    border: .5vw;
    border-radius:1em;
}

h1{
    font-size:calc(2.5vw + 1em);
}
h4{
    font-size:calc(.5vw + 1em);
}

.navbar-brand,
#navbarDropdownMenuLink {
    font-size:calc(1rem + 1.5vw);
}
/* 
@media screen and (max-width: 576px) {
    .wrapper {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
      }

    .biglou {
        width: 100%;
        margin-top: 20px;
        padding: 25%;
        text-align: center;
    }
} */