main {
    text-align: center;
    padding: 5%;
}

#projects-jumbotron{
    background-color:rgb(68, 68, 255);
    color:rgb(221, 220, 215);
}

.louie {
    padding: 7px;
    border: 7px;
}

@media screen and (max-width: 576px) {
    .wrapper {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
      }

    .biglou {
        width: 100%;
        margin-top: 20px;
        padding: 25%;
        text-align: center;
    }
}